{% extends "base.html" %}
{% block body %}
<h3>Edit Reaction</h3>
<p>Fill in all the fields below. You can enter numbers using big E notation (e.g. if you want to enter 3.023 x 10<sup>8</sup> write 3.023E8).</p>
<form action="{{ url_for('routes.edit_reaction', reac_id=reac_id) }}" method=post class=add-entry>
  {{ form.hidden_tag() }}

  {% if current_user.admin %}
  {{ form.temp.label }}
  {{ form.temp(size=32) }}
  {% for error in form.temp.errors %}
  <br /><span style="color: red;">[{{ error }}]</span>
  {% endfor %}
  {% else %}
  <label>T(K)</label>
  <p>{{ current_user.username }}</p>
  {% endif %}

  <h5>Partition functions</h5>
  <div class="row">
    <div class="six columns">
      {{ form.delta_g.label }}
      {{ form.delta_g(size=32) }}
      {% for error in form.delta_g.errors %}
      <br /><span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="six columns">
      {{ form.delta_h.label }}
      {{ form.delta_h(size=32) }}
      {% for error in form.delta_h.errors %}
      <br /><span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {{ form.delta_s.label }}
      {{ form.delta_s(size=32) }}
      {% for error in form.delta_s.errors %}
      <br /><span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="six columns">
      {{ form.k_p.label }}
      {{ form.k_p(size=32) }}
      {% for error in form.k_p.errors %}
      <br /><span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    {{ form.submit(class_="button-primary", value="Edit") }}
  </div>

</form>
{% endblock %}
