{% extends "base.html" %}
{% block body %}
  <h6 class="docs-header">Welcome to the CEM484 Class Project!</h6>
  <p><strong>To enter your results:</strong>
  <ul>
    <li>If you haven't added an entry yet, go to the ADD menu on the navigation bar and select a molecule.</li>
    <li>If you already added an entry go to the LIST menu on the navigation bar select a molecule and find your temperature. Then click on Edit.</li>
  </ul>
  </p>
  <p>Once some data is accumulated, you can plot the partition functions by selecting the Plot menu above.</p>
{% endblock %}
