{% extends "admin/base.html" %}
{% block body %}
<h3>{{ title }} molecule</h3>
{% if title == 'Add' %}
<form action="{{ url_for('admin.add_mol') }}" method=post class=add-entry>
{% else %}
<form action="{{ url_for('admin.edit_mol', mol_id=mol_id) }}" method=post class=add-entry>
{% endif %}

    {{ form.hidden_tag() }}
    <p>To add a molecule for the projects, fill in the name and HTML fields below.
    The HTML field is not required, but can be used to include super- and subindices.
    For example, SO2 can be written as SO&lt;sub&gt;2&lt;/sub&gt; in the HTML fields to yield
    SO<sub>2</sub>.</p>

    {{ form.name.label }}
    {{ form.name(size=20) }}
    {% for error in form.name.errors %}
    <br /><span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    {{ form.html.label }}
    {{ form.html(size=20) }}
    {% for error in form.html.errors %}
    <br /><span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    <div class="row">
      {{ form.submit(class_="button-primary", value=title) }}
    </div>

  </form>
  {% endblock %}
